<div class="container">
  <h1>Школа - Расписание</h1>
  <ul>
    <li><a href="<%= pages_pupil_tt_path %>">Расписание ученика</a></li>
    <li><a href="<%= pages_teacher_tt_path %>">Расписание учителя</a></li>
    <li><a href="<%= pages_cabinet_tt_path %>">Расписание кабинета</a></li>
    <li><a href="<%= pages_transfer_path %>">Перевод ученика</a></li>
    <li><a href="<%= pages_workload_path %>">Топ нагрузки</a></li>
    <li><a href="<%= pages_subj_in_bg_path %>">Предметы в классах</a></li>
    <li><a href="<%= pages_bells_path %>">Звонки</a></li>
  </ul>
</div>